<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页-名臣福利 - 在线收购手机充值卡, 即时付款, 马上提现 - www.mcfl.cn</title>
<meta name="keywords" content="名臣福利,手机充值卡回收,手机充值卡回购,手机充值卡变现,手机充值卡提现">
<meta name="description" content="名臣福利是中国最专业的手机充名臣福利是中国最专业的手机充值卡回购网站。名臣福利通过在线回购和支付系统，让您足不出户就可以把多余的手机冲值卡换成现金，为广大网友实现福利。关键词：收购手机充值卡，手机充值卡提现，手机充值卡套现。">
<link href="css/global.css" rel="stylesheet" type="text/css" />
<link href="css/list1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/form.js"></script>
</head>
<body>


<!--头部-->
<div class="top">
	<div class="top_995">
<div class="top_995_left">
        	<ul> 
            	<li style=" width:66px; text-align:left;"><a href="index.html">进入首页</a></li>
        		<li><a href="contribution.html">名臣公益</a></li>
            	<li><a href="contact.html">客服QQ</a></li> 
            	<li style="margin-left:10px;background:none;width:auto"><a href="#">全国免费咨询热线：400-611-8420</a></li> 
            	
      </ul>
    </div>
    	<div class="top_995_right"><span><a href="#"  id="afterLogin1" style="display:none" >进入会员中心</a><a href="login.html"  id="beforeLogin1" style="display:inline" >登录</a></span> <p><a href="#"  id="afterLogin2" style="display:none">退出</a><a href="reg.html"  id="beforeLogin2" style="display:inline">注册</a></p></div>
  	</div>
</div>

<!--标志-->
<div class="logo">
	<div class="logo_995">
    	<div class="logo_left"><a href="index.html"><img src="images/index/logo.jpg" alt="名臣福利" width="162" height="46" border="0" /></a></div>
    	<font style="float:left;margin:0px;display:inline;position:relative;left:0px;top:32px;font-family:'Microsoft YaHei', Verdana;">手机充值卡回购和寄售点卡接口</font>
        
  <div class="logo_right">
        	<ul>
            <li><a href="card.html">支持卡种</a></li>
            <li><a href="safeguard.html" class="kan">交易保障</a></li>
            <li><a href="help.html">新手入门</a></li>
          <li><a href="company.html">公司资质</a></li>
                <li><a href="contact.html">联系我们</a></li>
                
                
                 
            	    
      </ul>
      </div>
	</div>
</div>
<!--
<div class="logo">
	<div class="logo_995">
    	<div class="logo_left"><a href="#"><img src="images/index/logo.jpg" alt="logo" width="162" height="46" border="0" /></a></div>
    	<div class="logo_right">
        	<ul>
            	<li><a href="#" class="kan">账户</a></li>
                <li><a href="#">生活</a></li>
                <li><a href="#">聚惠</a></li>
                <li><a href="#">银行</a></li>
                <li><a href="#">彩贝</a></li>
                <li><a href="#">企业</a></li>
            </ul>
      </div>
	</div>
    <div class="clear"></div>
</div>
-->
<!--内容区-->
<div class="column">
	<div class="column_left">
    	<div class="column_left_1"><a href="reg.html">免费注册</a><a href="findpassword.html">找回密码</a><a href="login.html">立刻登陆</a>
        </div>
       <ul>
        	<li><a href="card.html" >支持卡种</a></li>
            <li><a href="safeguard.html" class="current">交易保障</a></li>
            <li style=" text-align:left; padding-left:19px;width:66px;"><a href="success.html">成功案例</a></li>
            <li><a href="contribution.html">名臣公益</a></li>
         
        </ul>
        <div class="column_left_3">
        	<dl>
            	<span>帮助中心</span>
                <dt>
                <img src="images/saaaa/xin.png" width="16" height="16" alt="s" />
                <img src="images/saaaa/a3.jpg" width="16" height="16" alt="s" /> 
                <img src="images/saaaa/a2.jpg" width="16" height="16" alt="s" /> 
                <img src="images/saaaa/cell.png" width="16" height="16" alt="s" /> 
                <img src="images/saaaa/dlzq.gif" width="16" height="16" alt="s" /> 
                <img src="images/saaaa/zizhi.png" width="16" height="16" alt="s" /> 
                </dt>
                <dd><a href="help.html">新手入门</a></dd>
                <dd><a href="question.html">常见问题</a></dd>
                <dd><a href="withdraw.html">提现说明</a></dd>
                <dd><a href="contact.html">联系我们</a></dd>
                <dd><a href="business.html">商务合作</a></dd>
                <dd><a href="company.html">公司资质</a></dd>
               <!-- <p style="background:url(images/saaaa/a7.jpg) no-repeat;"><a href="#">添加</a></p>     
                <p  style="background:url(images/saaaa/a8.jpg) no-repeat;"><a href="#">管理</a></p>-->
        	</dl>
        </div>
    </div>
	
    <div class="column_right">
   	    <div class="column_right_1"><p><img src="images/hhh.jpg" width="38" height="37" alt="jj" /></p>
   	   本网站由公司运营，并在国家相应机关备案，您的资金在这里有安全保障！</div>
        <div class="column_right_2">
        	<div class="column_right_2_shang">
            	<span>
                <font>交易保障</font>
                </span>
            </div>     
   	   
       <div class="right2">
       <p>充值卡回购交易是双方行为，由发行卡的官方网站验证。因此交易保障也是对双方的保障。既要保障您提交了正确的充值卡卡号和密码后，我们按照事先约定的回购方案付给您相应的回购款；也要保障您不会提交错误的充值卡卡号和密码来找我们麻烦。本站为正规网站，本公司名称"<a href="http://baike.baidu.com/view/8467651.htm" target="_blank">佛山市路易名臣科技有限公司</a>"已在工商局注册备案,可以进入佛山市工商局网站验证，您的资金在我们这完全有保障;本站仅提供在线快速回购你手上多余充值卡及游戏点卡的功能。</p><br /> <p>我们采取的保障措施包括：<br /> 
   &nbsp;&nbsp;&nbsp;●充值卡的卡号和密码交给官方网站进行认证和处理，保证公平性。<br />
   &nbsp;&nbsp;&nbsp;●申请提现后，给您打款通过银行的网银系统处理，支付过程透明并且可查询。<br />
   &nbsp;&nbsp;&nbsp;●支付回购款之前会通过QQ/MSN等电子通讯方式进行确认，同时留下对话记录作为核对依据。</p><br /><p> 关于名臣福利网站的保障:<br /> 
   &nbsp;&nbsp;&nbsp;●名臣福利网站通过工信部ICP备案，进行了现场网站负责人信息和图像采集。<br />
   &nbsp;&nbsp;&nbsp;●名臣福利网站主要通过朋友口碑相传进行推广，神马都是浮云，朋友口碑才最可靠。</p> 
       
       </div>
        
        </div>
        
         </div>
         
        
    </div>

<!--版权-->

<div class="column1">
</div>
<div class="copyright">
<div class="copyright_xia">\
  <p>Copyright &copy; 2012-2013&nbsp;&nbsp;名臣福利 版权所有&nbsp;Inc. All rights reserved.&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备12031800号</a>&nbsp;<script src="http://s21.cnzz.com/stat.php?id=4460850&web_id=4460850" language="JavaScript"></script></p><br />
      <p>关键词：<b>名臣福利 收购手机充值卡 手机充值卡回收 手机充值卡回购 手机充值卡变现 手机充值卡提现 一卡通回收 Q币卡点卡回收 点卡供货 点卡寄售</b></p>
  </div>
<div class="copyright_shang">
      <dl class="xiao1" style="width:600px;margin:0px 0px 0px 230px;">
            <dd>
            	
                <!--<p><a href="#"><img src="images/bottom/bl.gif" width="118" height="48" alt="互联网信息中心" /></a></p>-->
                <p><a href="http://webscan.360.cn/index/checkwebsite/url/fuli.louismansion.com" target="_blank"><img src="images/bottom/360.png" width="127" height="47" alt="360安全认证" /></a></p>
                <p><a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&credcode=NO.20000041512&axbFlag=axb" target="_blank"><img src="images/bottom/1322.gif" width="137" height="47" alt="信用之星" /></a></p>
                <p><script src="http://kxlogo.knet.cn/seallogo.dll?sn=e12090344060035449000000&size=0" ></script></p>
                <p><a href="http://union.rising.com.cn/InfoManage/attestation.aspx?p0=XNk3xHG5v8ul-lm7oG8p0HoBWZXpZQBe" target="_blank"><img src="images/bottom/aq.jpg" width="113" height="48" alt="瑞星安全认证" /></a></p>
                <!--<p><script type="text/javascript">     var locationUrl = escape(document.location.href);     document.write(unescape("%3Cscript")+" charset='utf-8' src='http://union.rising.com.cn//InfoManage/TrojanInspect.aspx?p1=XNk3xHG5v8ul-lm7oG8p0HoBWZXpZQBe&p2=ujNEibbBa6A=&p3=XNk3xHG5v8sEFWxN8CFbkA==&url="+ locationUrl  + "' type='text/javascript'"+unescape("%3E%3C/script%3E"));</script></p>-->
                
                <p><a href="http://210.76.65.188/webrecord/innernet/Welcome.jsp?bano=4406054000687" target="_blank"><img src="images/bottom/waicon.gif" width="43" height="50" alt="公网安备" /></a></p>
                <p><a href="http://210.76.65.188" target="_blank"><img src="images/bottom/gt.gif" width="43" height="52" alt="网络警察" /></a></p>
            </dd>
      </dl>
        
  </div>
</div>

</body>
</html>
