@charset "utf-8";
.header{width:100%;height:81px;background:url(../images/chongz_02.gif) repeat-x; margin-bottom:20px;}
	.header1000{height:81px;width:995px;margin:0 auto;}
		.header1000 h1{float:left;}
		.top{margin-left:45px;float:left;height:81px;width:500px;}
		.top li{float:left;list-style:none;height:81px;line-height:81px;background:url(../images/xiaoxian.jpg) no-repeat right;width:98px;text-align:center;}
		.top li a{color:#fff;font-weight:bold;font-size:14px; text-decoration:none;}
		.topRight{float:right;height:81px;line-height:81px;color:#fff;}
		.topRight a{color:#fff;text-decoration:none;}

.column{width:996px;height:538px; margin:0 auto;}
.column_left{width:173px;height:536px; border:1px solid #e1e2e2; float:left;}
	.column_left li{height:36px;line-height:36px; padding-left:40px;font-size:14px; display:inline;display:block;}
	.column_left li:hover{background:#f8f8f8;}
	.column_left li a{color:#666;text-decoration:none;width:110px;float:left;}
	.column_left li a:hover{color:#f00;font-weight:bold;background:url(../images/chongz_20.jpg) no-repeat right;}
	.shan{color:#f00;font-weight:bold;background:url(../images/chongz_20.jpg) no-repeat right;width:110px;}

.column_right{float:right;width:791px;height:536px;}
	.column_right_1{width:777px;height:30px;padding-top:5px;border-bottom:1px solid #ebebeb; margin-bottom:20px;}
		.column_right_1 strong{float:left; color:#666666;}
		.column_right_1 p{color:#e10911;}
	.column_right_2{width:767px;height:127px; border:1px solid #e1e2e2; background:#f5f5f5; margin-bottom:10px;}
		.right_2{width:439px; float:left;padding:26px 0 0 20px;}
		.right_2 ul li{height:26px;display:block;}
		.wenzi{width:300px;float:left;color:#666666;font-size:14px;padding:20px 0px 0 0;}
		.wenzi span{float:left;display:block;width:280px;}
		.wenzi p{display:block;float:right;}
	
	.column_right_3{width:754px;height:62px;background:#faeadc; border:1px solid #efd7cc;padding:13px 0 0 13px; margin-bottom:10px;}
		.column_right_3 dl dt{margin-right:20px;float:left;}
		.column_right_3 dl dd{height:28px; color:#e19709;}
		.column_right_3 dl dd a{ color:#e19709;}
	.column_right_4{width:766px;}	
 		.tab {width:767px;}
 		.tab_menu {clear:both;border-bottom:1px solid #ddd; height:40px;}
 		.tab_menu li{border:1px solid #e1e2e2; border-bottom:none;border-right:none;float:left;color:#666;text-align:center;padding:0 15px;cursor:pointer;height:40px;line-height:40px;background:#efefef url(../images/xian.jpg) bottom no-repeat;font-size:14px;font-weight:bold;}
 		.tab_menu li.hover {background:#fff;color:#666;}
 		.tab_menu li.selected {color:#600;background:#fff;}
 		.tab_box {clear:both;border:1px solid #ddd;border-top:none;height:182px;padding-top:30px;}
		.hide{display:none}
		.tab_box_1{width:400px;height:159px;background:url(../images/sas.jpg) no-repeat;margin:0 auto;}
		.tab_box_1 span{ padding:50px 0 0 130px;float:left;}
		.tab_box_1 p{color:#FF0000; padding-top:50px;}
 
 
	


.bottom{height:25px;line-height:25px;text-align:center;width:460px;color:#929292;margin:0 auto;clear:both;margin:30px auto;}



