@charset "utf-8";
body{font-size:12px;background:#fff;margin:0px;padding:0px;}
div,ul,li,dl,dt,dd,ol,img,h1,h2,h3,h4,h5,h6,form,input,p{margin:0px;padding:0px;}
ul,li{list-style:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
.clear{clear:both;width:0px;height:0px;line-height:0px;font-size:0;overflow:hidden;}
/* header */

/*主导航菜单*/
#menu ul{
	padding:0;
	border:0;
	list-style:none;
	line-height:150%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 15px;
}
#menu_out{
	width:1000px;
	padding-left:4px;
	margin-left:auto;
	margin-right:auto;
	background:url(../images/menu_left.gif) no-repeat left top;
}
#menu_in{
	background:url(../images/menu_right.gif) no-repeat right top;
	padding-right:4px;
}
#menu{
	background:url(../images/menu_bg.gif) repeat-x;
	height:73px;
}
.menu_line{
	background:url(../images/menu_line.gif) no-repeat center top;
	width:8px;
}
.menu_line2{
	background:url(../images/menu_line2.gif) no-repeat center top;
	width:15px;
}
#nav{
	padding-left:20px;
}
#nav li{
	float:left;
	height:35px;
}
#nav li a{
	float:left;
	display:block;
	padding-left:6px;
	height:35px;
	background:url(../images/menu_on_left.gif) no-repeat left top;
	cursor:pointer;
	text-decoration:none;
}
#nav li a span{
	float:left;
	padding:11px 14px 10px 10px;
	line-height:14px;
	background:url(../images/menu_on_right.gif) no-repeat right top;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
}
#nav li .nav_on{   /*鼠标经过时变换背景，方便JS获取样式*/
	background-position:left 100%;
}
#nav li .nav_on span{  /*鼠标经过时变换背景，方便JS获取样式*/
	background-position:right 100%;
	color:#333333;
	text-decoration:none;
	padding:14px 14px 7px 10px;
}
/*子栏目*/
#menu_con{
	text-align:left;
	padding-left:20px;
	clear:both;
}
#menu_con li{
	float:left;
	height:22px;
	margin-top:8px;
}
#menu_con li a{
	display:block;
	float:left;
	background:url(../images/menu_on_left2.gif) no-repeat left top;
	cursor:pointer;
	padding-left:3px;
}
#menu_con li a span{
	float:left;
	padding:6px 10px 4px 10px;
	line-height:12px;
	background:url(../images/menu_on_right2.gif) no-repeat right top;
}
#menu_con li a:hover{
	text-decoration:none;
	background:url(../images/menu_on_left2.gif) no-repeat left bottom;
}
#menu_con li a:hover span{
	background:url(../images/menu_on_right2.gif) no-repeat right bottom;
}

/* common */
.common{float:left;width:1000px;}
.panel-1{border:1px solid #E8E8E8;margin-top:10px;background:url(../images/panel-1-bg.jpg) repeat-x top;padding:10px;}
.panel-1 h2{font-size:15px;border-bottom:1px solid #E8E8E8;height:28px;}

.rj{background:url(../images/rj.gif) no-repeat;height:122px;margin:15px 15px 0 15px;padding-left:80px;line-height:20px;color:#666;}
.rj h3{font-size:14px;color:#000000;padding-bottom:5px;}

.function{height:300px;margin:10px 0 0 0;}
.function li{float:left;width:250px;height:100px;display:inline;margin-left:18px;}
.function li em{float:left;display:block;background:url(../images/icon-function.gif) no-repeat;width:50px;height:94px;margin-right:10px;}
.function .function-2{background-position:-70px 0;}
.function .function-3{background-position:-140px 0;}
.function .function-4{background-position:-210px 0;}
.function .function-5{background-position:-280px 0;}
.function .function-6{background-position:-350px 0;}
.function li h3{font-size:18px;margin-top:10px;font-weight:normal;}
.function li p{line-height:18px;color:#888;padding-top:5px;}

/*会员中心公告表格样式*/
.tab3{margin-left:0px;margin-top:0px;width:775px;}
.tab3 table{border:1px solid #EEE5E1;border-collapse:collapse;padding:0px;margin:0px}
.tab3 table tr th{height:34px;background:url(../images/4back_th.png) repeat-x;border:1px solid #EEE5E1;color:#4F1A01;font-size:14px;padding:0px;margin:0px;font-family:"Microsoft YaHei", Verdana}
.tab3 table tr td{width:auto;height:31px;border:1px solid #EEE5E1;color:#404040;text-align:center;vertical-align:middle;font-family:"Microsoft YaHei", Verdana;padding:0px}
/*会员中心订单表格样式*/
.tab4{margin-left:0px;margin-top:0px;width:1000px;float:left;}
.tab4 table{border:1px solid #EEE5E1;border-collapse:collapse;padding:0px;margin:0px}
.tab4 table tr th{height:34px;background:url(../images/4back_th.png) repeat-x;border:1px solid #EEE5E1;color:#4F1A01;font-size:12px;padding:0px;margin:0px;font-family:"Microsoft YaHei", Verdana}
.tab4 table tr td{width:auto;height:31px;border:1px solid #EEE5E1;color:#404040;text-align:center;vertical-align:middle;font-family:"Microsoft YaHei", Verdana;margin:0px;padding:0px;font-size:12px;}
.hidden{display:none}
.show{display:block;}


.katong{height:120px;}
.fangz{background:url(../images/chongz_16.jpg) no-repeat;height:37px;border-bottom:1px solid #ebebeb;font-weight:bold;font-size:24px;color:#666;padding-left:30px;line-height:34px;margin-bottom:10px;}
.fangz a{font-weight:none;color:#f00;text-decoration:none;}
.red{color:#F00;margin-bottom:10px;}
.hei a{color:#f00;text-decoration:none;margin:auto 5px auto 5px;}
.hei p{line-size:12px;}
.hei span{line-size:12px;width:20px;}
.anniu{width:110px;height:30px;margin-top:9px;}

.xuan{margin-top:30px;}
.xuanTitle{height:42px;background:url(../images/xian2_03.gif) no-repeat bottom;}
.xuanTitle li{border:1px solid #e1e2e2;border-bottom:none;height:41px;float:left;width:86px;line-height:41px;text-align:center;color:#666;font-size:14px;background:#f5f5f5;}
.xuanTitle li:hover{background:#fff;cursor:pointer;}
.xuanText{border:1px solid #e1e2e2;border-top:none;width:768px;height:264px;}
.miane{float:left;width:505px;height:243px;border-right:1px solid #e1e2e2;margin:10px 0px;}
.yuan{width:450px;height:60px;}
.xx{float:left;width:86px;line-height:50px;margin-left:40px;}
.dan{float:left;width:275px;line-height:30px;height:60px;}
.ab{margin:0 0 0 28px;}
.qren{height:30px;line-height:30px;margin-left:40px;}
.que{height:30px;float:left;line-height:30px;width:86px;}
.yun{float:left;width:86px;color:#f00;}
.ka{margin-left:60px;height:31px;line-height:31px;margin-bottom:10px;}
.kaText{background:url(../images/chongz_39.jpg) no-repeat;height:31px;width:210px;border:none;margin-left:40px;text-indent:12px;line-height:31px;}
.tijiao{background:url(../images/chongz_43.gif) no-repeat;width:110px;height:30px;border:none; cursor:pointer;float:left;text-indent:200px;}
.anniun{margin-left:40px;margin-top:30px;}
/* button */
input.red_button {
	width: 110px;
	height: 30px;
	display: block;
	float: left;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 5px;
	color: #ffff;
	outline: none;
	cursor: pointer;
	border: none;
	background: url(../images/btn_bj.gif) 0px 0px no-repeat;
}

input.red_button:hover {
	background: url(../images/btn_bj.gif) 0px -30px no-repeat;
}
.red_button{background:url(../images/btn_bj.gif) no-repeat 0px 0px;width:110px;height:30px;cursor:pointer;float:left;text-indent:200px;}
.red_button .btn_text{width:110px;height:30px;line-size:30px;font-size:18px;color:#000;}

.zhong{float:right;width:261px;height:243px;margin:10px 0px;background:url(../images/dsf.gif) no-repeat 25px 54px;}
.wenZi{float:right;margin:20px 10px 0 0;font-size:12px;width:165px;color:#666;line-height:18px;}
.wenZi b{color:#f00;font-size:14px;}

.zuiJin{float:right;width:770px;margin-top:30px;height:250px;}
.zuiJinTitle{height:42px;width:86px;border:1px solid #e1e2e2;border-bottom:none;height:42px;text-align:center;line-height:42px;color:#666;}
.tiSi{height:42px;margin-left:10px;color:#666;float:left;}
.din{float:left;width:360px;height:42px;line-height:42px;}
.shuai{float:left;}
.xin{background:url(../images/dff.gif) no-repeat;flaot:right;height:26px;width:85px;border:none; cursor:pointer;margin-top:5px;}
.zuiJinText{height:185px;border:1px solid #e1e2e2;border-top:none;background:url(../images/xian2_03.gif) no-repeat;}

.biao{width:745px;height:130px;margin:0 auto;border:1px solid #e1e2e2;margin-bottom:10px;}
.biaoTitle{height:35px;border-bottom:1px solid #e1e2e2;background:#f2f2f2;}
.biaoTitle li{float:left;border-right:1px solid #e1e2e2;text-align:center;line-height:35px;}
.biaoText{height:90px;width:745px;text-align:center;line-height:90px;margin-bottom:10px;}

.column_right{float:right;width:791px;height:536px;}
	.column_right_1{width:777px;height:30px;padding-top:5px;border-bottom:1px solid #ebebeb; margin-bottom:20px;}
		.column_right_1 strong{float:left; color:#666666;}
		.column_right_1 p{color:#e10911;}
	.column_right_2{width:767px;height:127px; border:1px solid #e1e2e2; background:#f5f5f5; margin-bottom:10px;}
		.right_2{width:439px; float:left;padding:26px 0 0 20px;}
		.right_2 ul li{height:26px;display:block;}
		.wenzi{width:300px;float:left;color:#666666;font-size:14px;padding:20px 0px 0 0;}
		.wenzi span{float:left;display:block;width:280px;}
		.wenzi p{display:block;float:right;}
	
	.column_right_3{width:754px;height:62px;background:#faeadc; border:1px solid #efd7cc;padding:13px 0 0 13px; margin-bottom:10px;}
		.column_right_3 dl dt{margin-right:20px;float:left;}
		.column_right_3 dl dd{height:28px; color:#e19709;}
		.column_right_3 dl dd a{ color:#e19709;}
	.column_right_4{width:766px;}	
 		.tab {width:767px;}
 		.tab_menu {clear:both;border-bottom:1px solid #ddd; height:40px;}
 		.tab_menu li{border:1px solid #e1e2e2; border-bottom:none;border-right:none;float:left;color:#666;text-align:center;padding:0 15px;cursor:pointer;height:40px;line-height:40px;background:#efefef url(../images/xian.jpg) bottom no-repeat;font-size:14px;font-weight:bold;}
 		.tab_menu li.hover {background:#fff;color:#666;}
 		.tab_menu li.selected {color:#600;background:#fff;}
		.hide{display:none}
		


.memberCenter table.stateTable {width: 100%;border: 2px solid #e8e8e8;overflow:hidden;}
.memberCenter table.stateTable th {line-height: 30px;padding-left: 10px;text-align: center;border-bottom: 1px solid #f1f1f1;background-color: #f6f6f6;}
.memberCenter table.stateTable td {line-height: 28px;padding: 3px 10px;text-align: left;color: #595959;word-break: break-all;border-bottom: 1px solid #f1f1f1;}
.memberCenter table.stateTable tr:hover {background-color: #fafafa}
.memberCenter table.stateTable .title {width: 70px;font-weight: bold;}

.memberCenter table.listTable {width: 100%;border: 2px solid #e8e8e8;margin-top:15px;overflow:hidden;}
.memberCenter table.listTable th {width: 150px;line-height: 45px;	padding-right: 10px;text-align: center;color: #333333;background-color: #fafafa;}
.memberCenter table.listTable tr:hover th {background-color: #eeeeee;}
.memberCenter table.listTable td {line-height: 35px;padding: 3px 5px;	text-align: center;color: #595959;}
.memberCenter table.listTable tr:hover td {background-color: #fafafa;}

.memberCenter table.inputTable {width: 100%;border: 2px solid #e8e8e8;margin-top:15px;overflow:hidden;}
.memberCenter table.inputTable th {	width: 150px;line-height: 35px;	padding-right: 10px;text-align: right;color: #333333;background-color: #fafafa;}
.memberCenter table.inputTable tr:hover th {background-color: #eeeeee;}
.memberCenter table.inputTable td {	line-height: 30px;padding: 3px 5px;	text-align: left;color: #595959;}
.memberCenter table.inputTable tr:hover td {background-color: #fafafa;}

.memberCenter table.tabTable {width: 100%;border: 2px solid #e8e8e8;margin-top:-1px;overflow:hidden;}
.memberCenter table.tabTable th {	width: 100px;line-height: 35px;	padding-right: 10px;text-align: right;color: #333333;}
.memberCenter table.tabTable td {	line-height: 30px;padding: 3px 5px;	text-align: left;color: #595959;}

/* .memberCenter table.tabTable tr:hover td {background-color: #fafafa;}*/

.pager {float: right;clear: both;margin-top:15px;margin-bottom:15px;}
.pager li {line-height: 18px;display: block;float: left;padding: 0px 5px;margin: 0px 3px;font-size: 12px;border: 1px solid #cccccc;}
.pager li:hover {color: #D6060D;border: 1px solid #D6060D;}
.pager li:hover a {color: #D6060D;}
.pager li a {color: #464646;}
.pager li span {color: #cfcfcf;}
.pager li.currentPage {border: 1px solid #D6060D;background-color: #D6060D;}
.pager li.currentPage span {font-weight: bold;color: #ffffff;}
.pager li.pageInfo {margin-right: 5px;color: #464646;border: none;background: none;}
	
.bottom{clear:both;height:25px;line-height:25px;text-align:center;width:760px;color:#929292;margin:0 auto 50px;}
