/* CSS Document */

.blank{ height:10px;}
#red{ width:995px; height:40px; background:#e10911; margin:auto;}

/*内页1内容区*/

/*左边列表*/
#content1{ width:995px; height:488px; margin:auto; }
.list{ float:left; background:#f8f8f8; border:solid 1px #ddd; width:137px; height:488px;} 
.list1{ padding:10px 0 0 18px; border-bottom:solid 1px #ddd;}
.list1 span a{ height:31px; margin-bottom:5px; display:block; text-decoration:none; color:#666;}
.list1 span b{ color:#e10911}
.list2{ padding:10px 0 0 0; height:94px; border-bottom:solid 1px #ddd;  overflow:hidden;}
.list2 span a{ float:left; text-align:center; width:68px; height:31px; line-height:24px;  text-decoration:none; color:#666;}
.list3{ padding:10px 0 0 15px; height:255px; }
.list3 ul{}
.list3 ul li{ padding-bottom:12px;}
.list3 ul li a{ text-decoration:none; color:#666;}
.list3 ul li p{ float:left; padding-right:3px;}
.list3 span{ font-size:14px; font-weight:bold; padding:5px 0 12px 0; display:block;}
/*右边内容区*/
.right{ float:left; margin-left:56px; width:771px;}
.box1{ width:794px; background:#f8f8f8; border: solid 3px #ddd; line-height:82px;}
.box1 span{ background:url(../images/1_img1.jpg) no-repeat left center; padding-left:45px; display:block; margin-left:150px; font-size:14px; font-weight:bold;}
.box2{ width:744px; height:372px; margin-top:30px; border: solid 1px #ddd; padding:0 0 0 50px; }
.box2 dl{ width:606px; height:90px; display:block; position:relative; border-bottom:solid 1px #ddd; padding-top:50px;}
.box2 dl dt{ float:left; width:39px; height:51px;}
.box2 dl dd{ float:left; height:51px; width:380px; padding-left:30px; line-height:22px;}
.box2 dl dd b{ color:#e10911; font-size:14px; display:block;}
.box2 dl dd span{ float:right; width:115px; position:absolute; right:0; top:50px;}
/*底部*/
#bottom{ width:955px; margin:auto; line-height:80px; color:#999;}
#bottom a{ color:#666; text-decoration:none;}





