/* CSS Document */

/*全局样式*/
body{ margin:0; padding:0; background:#fff; font-size:12px; color:#666; font:Arial, Helvetica, sans-serif;}
*{ margin:0; padding:0; border:0;}
ul,li{ list-style-type:none;}

/*基本样式*/
#top{ width:100%; background:url(../images/2_top_bj.jpg) repeat-x; height:81px;}
.top{ width:995px; margin:auto;}
.top h1{ float:left; padding-top:15px;}
.menu{ float:left; margin-left:40px; }
.menu ul{}
.menu ul li{ float:left; font-size:14px; background:url(../images/2_line.jpg) no-repeat right; line-height:80px; width:100px; text-align:center; font-weight:bold; color:#fff;}
.menu ul li a{ color:#fff; text-decoration:none; line-height:80px; width:100px; display:block;}
.menu ul li a:hover{ color:#fff; background:url(../images/2_menu_curr.jpg) no-repeat;  }

.login{ float:right; color:#fff; line-height:80px; }
.login a{ color:#fff; text-decoration:none;}
/*内容开始*/
#content{ width:995px; margin:auto; height:740px; margin-top:20px; }
/*左边列表*/
.list{ float:left; width:173px; height:586px; border: solid 1px #ddd; } 
.list ul{}
.list ul li{ font-size:14px; padding-bottom:1px; line-height:40px; display:block; text-align:center; overflow:hidden;}
.list ul li b{ color:#ff0000;}
.list ul li a{ text-decoration:none; color:#666; display:block;}
.list ul li a:hover{ text-decoration:none; background:#eee; color:#ff0000; font-weight:bold;}
/*右边内容*/
.right{ float:left; margin-left:30px; width:790px; height:730px;}
.title{ height:150px;}
.title span{ line-height:26px; display:block;}
.title span a{ color:#ff0000; text-decoration:none;}
.title span b{ float:left;}
.title span p a{ float:left; text-decoration:none; color:#ff0000; padding-left:8px;}
/*提交框*/
.box1{ width:770px;}
.title1{ float:left; width:86px; height:40px; line-height:40px; text-align:center; display:block; border:solid 1px #ddd; border-bottom:none; }
.box0{ width:770px; height:280px; border: solid 1px #ddd; border-top:none; clear:both; position:relative; }
.line{ width:684px; height:1px; background:#ddd; overflow:hidden; position:absolute; top:0; right:0; display:block;}
.box0_left{ float:left; width:506px; border-right: solid 1px #ddd; margin-top:10px; }
.box0_left span{ width:400px; }
.box0_left span b{ float:left; font-size:12px; font-weight:normal; padding:20px 30px 0 40px;}
.box0_left span p{float:left; line-height:30px; width:80px;}
.money{ width:320px; float:left; padding-top:5px;}
/*搜索框*/
.search{ clear:both; padding:18px 0 0 63px;}
.search_l{ float:left; line-height:30px; }
.search_r{ float:left; padding-left:30px;}
.ID{ border:solid 1px #ddd; display:block;  padding-left:5px; line-height:30px; }
.btn1{ display:block; width:250px; margin:20px 0 0 112px;}
.btn1 span{ float:left; width:120px; height:32px;}
.yhm{ color:#FF0000; height:36px; line-height:34px; border:solid 1px #FF0000;}
/*对不起，密码错误*/
.box0_right{ float:right; width:170px;  padding:30px 20px 0 55px; background:url(../images/2_img2.jpg) no-repeat left center;}
.box0_right span{ display:block; color:#ff0000; line-height:24px; width:170px;}
/*订单*/
.box2{ width:770px; margin-top:30px; clear:both;}
.title2{ width:86px; height:40px; line-height:40px; text-align:center; display:block; border:solid 1px #ddd; border-bottom:none;}
.box00{ width:770px; height:222px; border: solid 1px #ddd; border-top:none; clear:both; position:relative; }
.box00 span{ line-height:40px; padding-left:10px; position:relative;}
.box00 span b{  position:absolute; left:360px; top:-5px; }
.span{ height:133px; width:750px; margin-left:10px;}
.span ul{ background:#f2f2f2; height:38px;}
.span ul li{ float:left; border:solid 1px #ccc; line-height:37px; text-align:center; border-right:none; padding:0 33px 0 33px; font-size:14px; overflow:hidden;}
.span span{ width:738px; text-align:center; line-height:90px; height:96px; border:solid 1px #ddd; border-top:none; display:block;}

.ul222{ background:#ffffff;}
/*底部*/

#bottom{ width:995px; margin:auto; padding-top:30px; height:70px;}
#bottom span{ display:block; text-align:center; line-height:24px;}
