@charset "utf-8";
/* top */
.top{width:100%;height:29px;background:#2d2d2d;}
	.top_995{height:29px;width:995px;margin:0 auto;}
		.top_995_left{height:29px;width:500px;float:left;}
		.top_995_left ul{ height:29px;line-height:29px;}
		.top_995_left ul li{float:left; background:url(../images/index/top.jpg) right no-repeat; text-align:center;width:94px;}
		.top_995_left ul li a{color:#ccc;}
	.top_995_right{height:29px;width:160px;float:right;}
	.top_995_right a{ color:#FFF;}
	.top_995_right span{ width:111px;line-height:29px;background:#e10911;float:left; text-align:center;display:block;}
	.top_995_right p{ line-height:29px;float:right;}


/* logo */
.logo{width:100%;height:77px; background:url(../images/bj_top.jpg) repeat-x;}
.logo_995{width:995px;margin:0 auto;}
.logo_left{padding-top:14px;width:163px; float:left;}
.logo_right{float:right;width:600px;margin-top:45px;}
.logo_right ul{width:540px;float:right; height:27px;}
.logo_right ul li{float:right;font-size:16px;font-family:"黑体";text-align:center;width:90px;height:27px;}
.logo_right ul li a{display:block;height:30px;width:90px;text-align:center; float:right;}
.logo_right ul li a:hover{border-bottom:3px solid #e10911;}
.kan{border-bottom:3px solid #e10911;text-align:center; color:#e10911;}

/* banner */
.banner{width:995px;margin:0 auto;height:415px;}
	.banner_left{width:638px;height:415px;background:url(../images/banner.jpg) left no-repeat; float:left;}
		.banner_left ul{margin:129px 0 0 111px;display:block; width:222px;}
		.banner_left ul li{font-size:16px;font-weight:bold;font-family:"黑体";color:#6c6c6c;height:36px;}
		.banner_left ul li span{background:url(../images/jiantou.png) no-repeat;float:right;width:126px;height:32px;display:block;line-height:32px;text-align:center;color:#FFF;}
		.banner_left ul li p{display:block;width:88px;float:left; margin-top:9px;}
	.banner_right{width:357px;height:415px;float:right;}
		.banner_xiao{width:318px;height:278px;border:5px solid #a7a7a7;margin-top:64px;}
		.tab_menu {clear:both;height:32px;l}
 		.tab_menu li {float:left;color:#898989;text-align:center;cursor:pointer;list-style:none; font-family:"宋体"; font-size:16px;margin-right:1px;background:#dddddd;width:158px;height:32px;line-height:32px; font-weight:bold;}
 		.tab_menu li.hover {background:#fff;}
 		.tab_menu li.selected {color:#000;background:#fff;}
 		.tab_box {clear:both;height:220px; padding:25px 0 0 25px;}
			.tab_box .anan p{height:27px;float:left;width:36px;line-height:27px; display:block; margin-right:15px;}
			.tab_box .anan span{display:block;}
			.oo{width:189px;height:27px;background:url(../images/index/xian.jpg) no-repeat;border:0;}
			.annnsa{width:189px; height:45px; line-height:15px;margin-top:11px;margin-left:50px;}
			.ddsa{margin-left:50px; line-height:30px;}
			.wenz{margin-left:50px;line-height:58px;}
 		.hide{display:none}

/* 内容区 */
.column1{width:100%;height:471px;background:#eeeeee;}
.column2{width:995px;height:110px;margin:0 auto; background:url(../images/index/xianj.jpg) bottom no-repeat;}
.column2 ul{float:right;margin:15px 8px 0 8px;}
.column2 ul li{width:48px;float:left; margin-left:45px;}
.Service{width:995px;height:311px;margin:20px auto;}
.Service ul{width:662px;float:left;height:311px; display:block;}
.Service ul li{ float:right;}
.Service_right{width:327px;float:right; border:1px solid #d5d5d5;background:#FFF;height:309px;}
	.Service_right_top{width:327px;height:141px; background:url(../images/index/ff1.jpg) no-repeat; margin-bottom:20px;}
	.Service_right_top span{float:right;width:213px;padding-left:114px;padding-top:46px;}
	.Service_right_top span a{ margin:0 3px;}
	.Service_right_top p{ padding-left:29px;width:110px;height:29px;float:right; line-height:29px;margin-top:10px;margin-right:12px; background:url(../images/index/dd2.jpg) no-repeat;}
	.Service_right_top p a{ color:#FFF;}
.Service_right dl{ height:72px;margin:0 25px;display:block; border-bottom:1px solid #dbdbdb;}
.Service_right dl dt{ height:24px; font-size:14px; font-weight:bold; color:#000;}
.Service_right dl dd{height:18px;}
.Service_right dl dd a{color:#b90007;}

/* 版权 */
.copyright{width:100%;height:246px;background:#dbdbdb;}
.copyright_shang{ height:123px; padding-top:20px;border-bottom:1px solid #c0c0c0;width:995px; margin:0 auto;}
.copyright_shang dl{float:left; display:block;}
.copyright_shang dl dt{ font-size:12px;}
.copyright_shang dl dd p{ display:block;margin-right:10px; margin-top:12px;float: left;}
copyright_shang dl .xiao2 p{ margin-right:5px;}

.copyright_xia{width:995px;height:100px;margin:0 auto;}
.copyright_xia span{text-align:center;width:995px;display:block;font-size:12px;color:#999; line-height:39px;}
.copyright_xia span a{ margin:0 5px;}
.copyright_xia p{text-align:center; color:#999;font-size:12px;}
/* 内容区 */
.column{margin:20px auto;width:995px;height:493px;}
	.column_left{float:left;width:175px;height:490px;background:#f8f8f8;border:1px solid #d7d7d7;}
		.column_left_1{height:99px;background:url(../images/sda1.jpg) no-repeat;padding-top:14px;border-bottom:1px solid #d7d7d7;}
		.column_left_1 a{display:block;text-align:center;width:52px; margin:0 auto;height:30px;}
		.column_left ul{height:78px;border-bottom:1px solid #d7d7d7; padding-top:9px;}
		.column_left ul li{float:left;width:87px;line-height:22px;text-align:center;}
		.column_left_3 dl{;width:175px;}
		.column_left_3 dl span{color:#666666;display:block;padding-top:20px;font-size:14px;font-weight:bold;height:20px;}
		.column_left_3 dl dt{float:left;padding-left:10px;width:16px;height:188px; display:block;}
		.column_left_3 dl dt img{margin:8px auto;}
		.column_left_3 dl dd{width:140px;float:right;display:block;margin:9px 0;}
		.column_left_3 dl p{width:40px;float:left;margin:8px 0 0 10px;padding-left:17px;}

.column_right{float:right;height:490px;width:770px;float:right;}
	.column_right_1{height:82px;line-height:82px;border:3px solid #d7d7d7;background:#f8f8f8;margin-bottom:30px;font-size:14px;font-weight:bold;color:#666666;}
		.column_right_1 p{float:left;margin:24px 14px 0 129px;}
	.column_right_2{height:372px;border:1px solid #d7d7d7;}
	.column_right_2_shang{height:100px;padding:45px 0 0 55px;}
		.column_right_2_shang span{height:100px;width:580px;display:block; background:url(../images/saaaa/sa3.jpg) no-repeat;padding-left:75px;border-bottom:1px dashed #878a86;}
		.column_right_2_shang span strong{ float:left;width:400px;display:block;font-size:16px;color:#e10911; font-family:"宋体";line-height:36px;}
		.column_right_2_shang span p{width:230px;float:left; display:block;}
		.column_right_2_shang span b{ width:110px;float:right;}
		.ddd{width:680px;border-bottom:1px solid #dbdcda;margin-left:55px;}
		.column_right_ooo1{width:580px;height:50px;padding-left:80px;line-height:26px;margin-top:45px;background:url(../images/saaaa/sa4.jpg) no-repeat;}
		.column_right_ooo1 strong{color:#e10911;font-family:"宋体";font-size:16px; display:block;float:left;}
		.column_right_ooo1 b{ float:right;display:block;}
		.column_right_ooo2{color:#929292;text-align:center;line-height:65px;}
		.column_right_ooo2 a{ margin:0 10px;}

 