@charset "utf-8";
/* top */
.top{width:100%;height:29px;background:#2d2d2d;}
	.top_995{height:29px;width:995px;margin:0 auto;}
		.top_995_left{height:29px;width:500px;float:left;}
		.top_995_left ul{ height:29px;line-height:29px;}
		.top_995_left ul li{float:left; background:url(../images/index/top.jpg) right no-repeat; text-align:center;width:94px;}
		.top_995_left ul li a{color:#ccc;}
	.top_995_right{height:29px;width:160px;float:right;}
	.top_995_right a{ color:#FFF;}
	.top_995_right span{ width:111px;line-height:29px;background:#e10911;float:left; text-align:center;display:block;}
	.top_995_right p{ line-height:29px;float:right;}


/* logo */
.logo{width:100%;height:77px; background:url(../images/index/sss.jpg) repeat-x;}
.logo_995{width:995px;margin:0 auto;}
.logo_left{padding-top:14px;width:163px; float:left;}
.logo_right{float:right;margin-top:41px;}
.logo_right ul{width:800px;float:right;}
.logo_right ul li{float:right;font-size:16px;font-weight:bold; font-family:"黑体";text-align:right;width:90px;}

/* banner */
.banner{width:995px;margin:0 auto;height:415px;}
	.banner_left{width:638px;height:415px;background:url(../images/index/baij.jpg) left no-repeat; float:left;}
		.banner_left ul{margin:129px 0 0 111px;display:block; width:222px;}
		.banner_left ul li{font-size:16px;font-weight:bold;font-family:"黑体";color:#6c6c6c;height:36px;}
		.banner_left ul li span{background:url(../images/index/ww.png) no-repeat;float:right;width:126px;height:32px;display:block;line-height:32px;text-align:center;color:#FFF;}
		.banner_left ul li p{display:block;width:88px;float:left; margin-top:9px;}
	.banner_right{width:357px;height:415px;float:right;}
		.banner_xiao{width:318px;height:278px;border:5px solid #a7a7a7;margin-top:64px;}
		.tab_menu {clear:both;height:32px;l}
 		.tab_menu li {float:left;color:#898989;text-align:center;cursor:pointer;list-style:none; font-family:"宋体"; font-size:16px;margin-right:1px;background:#dddddd;width:158px;height:32px;line-height:32px; font-weight:bold;}
 		.tab_menu li.hover {background:#fff;}
 		.tab_menu li.selected {color:#000;background:#fff;}
 		.tab_box {clear:both;height:220px; padding:25px 0 0 25px;}
			.tab_box .anan p{height:27px;float:left;width:36px;line-height:27px; display:block; margin-right:15px;}
			.tab_box .anan span{display:block;}
			.oo{width:189px;height:27px;background:url(../images/index/xian.jpg) no-repeat;border:0;}
			.annnsa{width:189px; height:45px; line-height:15px;margin-top:11px;margin-left:50px;}
			.ddsa{margin-left:50px; line-height:30px;}
			.wenz{margin-left:50px;line-height:58px;}
 		.hide{display:none}

/* 内容区 */
.column1{width:100%;height:471px;background:#eeeeee;}
.column2{width:995px;height:110px;margin:0 auto; background:url(../images/index/xianj.jpg) bottom no-repeat;}
.column2 ul{float:right;margin:15px 8px 0 8px;}
.column2 ul li{width:48px;float:left; margin-left:45px;}
.Service{width:995px;height:311px;margin:20px auto;}
.Service ul{width:662px;float:left;height:311px; display:block;}
.Service ul li{ float:right;}
.Service_right{width:327px;float:right; border:1px solid #d5d5d5;background:#FFF;height:309px;}
	.Service_right_top{width:327px;height:141px; background:url(../images/index/ff1.jpg) no-repeat; margin-bottom:20px;}
	.Service_right_top span{float:right;width:213px;padding-left:114px;padding-top:46px;}
	.Service_right_top span a{ margin:0 3px;}
	.Service_right_top p{ padding-left:29px;width:110px;height:29px;float:right; line-height:29px;margin-top:10px;margin-right:12px; background:url(../images/index/dd2.jpg) no-repeat;}
	.Service_right_top p a{ color:#FFF;}
.Service_right dl{ height:72px;margin:0 25px;display:block; border-bottom:1px solid #dbdbdb;}
.Service_right dl dt{ height:24px; font-size:14px; font-weight:bold; color:#000;}
.Service_right dl dd{height:18px;}
.Service_right dl dd a{color:#b90007;}

/* 版权 */
.copyright{width:100%;height:246px;background:#dbdbdb;}
.copyright_shang{ height:123px; padding-top:20px;border-bottom:1px solid #c0c0c0;width:995px; margin:0 auto;}
.copyright_shang dl{float:left; display:block;}
.copyright_shang dl dt{ font-size:12px;}
.copyright_shang dl dd p{ display:block;margin-right:10px; margin-top:12px;float: left;}
copyright_shang dl .xiao2 p{ margin-right:5px;}

.copyright_xia{width:995px;height:100px;margin:0 auto;}
.copyright_xia span{text-align:center;width:995px;display:block;font-size:12px;color:#999; line-height:39px;}
.copyright_xia span a{ margin:0 5px;}
.copyright_xia p{text-align:center; color:#999;font-size:12px;}
 
 