@charset "utf-8";
/* banner */
.top{padding-top:108px;}
.banner{width:995px;margin:0 auto;height:415px;}
	.banner_left{width:638px;height:415px;background:url(../images/index/baij.jpg) left no-repeat; float:left;}
		.banner_left ul{margin:129px 0 0 111px;display:block; width:222px;}
		.banner_left ul li{font-size:16px;font-weight:bold;font-family:"黑体";color:#6c6c6c;height:36px;}
		.banner_left ul li span{background:url(../images/index/ww.png) no-repeat;float:right;width:126px;height:32px;display:block;line-height:32px;text-align:center;color:#FFF;}
		.banner_left ul li p{display:block;width:88px;float:left; margin-top:9px;}
	.banner_right{width:357px;height:415px;float:right;}
		.banner_xiao{width:318px;height:278px;border:5px solid #a7a7a7;margin-top:64px;}
		.tab_menu {clear:both;height:32px;l}
 		.tab_menu li {float:left;color:#898989;text-align:center;cursor:pointer;list-style:none; font-family:"宋体"; font-size:16px;margin-right:1px;background:#dddddd;width:158px;height:32px;line-height:32px; font-weight:bold;}
 		.tab_menu li.hover {background:#fff;}
 		.tab_menu li.selected {color:#000;background:#fff;}
 		.tab_box {clear:both;height:220px; padding:25px 0 0 25px;}
			.tab_box .anan p{height:27px;float:left;width:36px;line-height:27px; display:block; margin-right:15px;}
			.tab_box .anan span{display:block;}
			.oo{width:189px;height:27px;background:url(../images/index/xian.jpg) no-repeat;border:0;}
			.annnsa{width:189px; height:45px; line-height:15px;margin-top:11px;margin-left:50px;}
			.ddsa{margin-left:50px; line-height:30px;}
			.wenz{margin-left:50px;line-height:58px;}
 		.hide{display:none}
